body{
    background-color: #E8ECF1;
}
p{
    margin: 10px 0;
}
.title-label{
    font-size: 18px;
    line-height: 40px;
}
.grid-content{
    
    
}
.content{
    background-color: white;
    height: 150px;
    padding: 15px;
}
.gzdt-list{
    height: 150px;
    overflow-y: auto;
}
.gzdt-list .gzdt-list-item{
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
.gzdt-list .gzdt-list-item .gzdt-list-item-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 20px;
}

.gzdt-list .gzdt-list-item .gzdt-list-item-link{
  
}
.el-link--inner{
    width: 300px;
    display: inline-block;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis; 
}
.gzdt-list .gzdt-list-item img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* .gzdt-list  .gzdt-date{
    margin: 0;
} */
/**********/

.areaTitle{
    border-bottom: 1px solid lightgray;
    padding: 5px 0;
    display: flex;
    align-items: center;
   
}

.areaTitle .smallFont{
    font-size: 16px;
}
.areaTitle img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.cus-blue{
    color: #2691F3;
}
.cus-yellow{
    color: #FE7D06;
}
.cus-yellow .el-slider__bar {
    background-color: #e6a23c;
}
.cus-yellow .el-slider__button {
    border: 2px solid #e6a23c;
}

.two-part-item{
    position: relative;
    padding: 10px;
}

.two-part-item::after{
    position: absolute;
    content: "";
    width: 1px;
    height: 60px;
    background-color: lightgray;
    right: 0px;
    top:40px;
}
.two-part-item h4{
    margin: 5px 0;
    font-size: 16px;

}
.two-part-item span{
    font-size: 30px;
    font-weight: normal;
}
.two-part-item .slider-intro{
    margin-bottom: -25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}
.btn-wrapper{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.el-button{
    font-size: 18px;
}